<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auctet - Bid with Friends</title>
    <link rel="stylesheet" type="text/css"
          href="stylesheets/third_party/jquery/jquery-ui-1.8.23.custom.css">
    <link rel="stylesheet" type="text/css"
          href="stylesheets/third_party/jquery/jquery-ui-timepicker.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/sorbet.css">
  </head>
  <body>
  </body>
</html>
