<div class="left-topbar">
  <div class="btn-group">
    <button class="btn btn-large btn-info btn-home">Home</button>
    <button class="btn btn-large btn-success btn-sell">Sell Something</button>
  </div>
</div>
