<div class="sell-container">
  <div class="sell">
    <div class="sell-nav">
      <ul class="nav nav-tabs">
        <li class="sell-item"><a href="#">1. Item</a></li>
        <li class="sell-auction"><a href="#">2. Auction</a></li>
        <li class="sell-payment"><a href="#">3. Get Paid</a></li>
        <li class="sell-share"><a href="#">4. Share</a></li>
      </ul>
    </div>

    <div class="sell-body">
      <!-- Sell body -->
    </div>
  </div>
</div>
