
@import "/public/stylesheets/third_party/bootstrap/bootstrap.less";
@import "/public/stylesheets/sorbet/leftsidebar.less";
@import "/public/stylesheets/sorbet/maincontainer.less";
@import "/public/stylesheets/third_party/bootstrap/responsive.less";
@import "/public/stylesheets/sorbet/rightsidebar.less";
@import "/public/stylesheets/sorbet/sellcontainer.less";
@import "/public/stylesheets/sorbet/sidebar.less";
@import "/public/stylesheets/sorbet/topbar.less";
@import "/public/stylesheets/sorbet/util.less";

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1024px;
  margin: 0;
  padding: 0;
  background-color: @sorbet-red;
  font-family: "Lucida Grande";
  font-size: 12px;
}
