<div class="auction-view">
  <legend>Great! Let's iron out some of the auction details now.</legend>

  <div class="control-group">
    <label class="input-label control-label" for="auction-date">Date</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="auction-date" />
      <span class="help-inline"></span>
    </div>
    <div id="datepicker"></div>
  </div>

  <div class="control-group">
    <label class="input-label control-label" for="auction-time">Time</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="auction-time" />
      <span class="help-inline"></span>
    </div>
    <div id="timepicker"></div>
  </div>

  <div class="control-group">
    <label class="input-label control-label" for="minimum">Minimum</label>
    <div class="controls">
      <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <input class="span2" id="minimum" size="16" type="text" placeholder="Bidding starts at...">
        <span class="add-on">.00</span>
      </div>
      <span class="help-inline"></span>
    </div>
  </div>

  <button class="btn btn-primary btn-next auction-next">Next</button>

  <script type="text/javascript">
    $("#datepicker").datepicker({
        altField: "#auction-date"
    });
    $('#timepicker').timepicker({
        altField: "#auction-time"
      , showPeriod: true
      , showLeadingZero: true
    });
  </script>
</div>
