<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Auctet - Bid with Friends</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/sorbet.css">
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35027751-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="javascripts/mixpanel.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="<%= bidsy == 'dev' ? "http://localhost:9810/compile?id=bidsy" : "javascripts/bidsy.js" %>"></script>
  </head>
  <body onload="bidsy.App.getInstance(); bidsy.Client.getInstance().init('<%= bidsy %>');">
    <%- body %>
  </body>
</html>
